*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body{
    background-color: black;
}



.menu-box ul{
    padding: 0;
    margin: 0
}
.menu-box ul li{
    display: inline-block;
    margin: 0 0 0 28px;
    position: relative;
}
.menu-box>ul>li>ul+span.main-menu-span{
    transform: rotate(-90deg);
}
.menu-box ul li ul{
    position: absolute;
    width: 220px;
    right: 0;
    top: 37px;
    opacity: 0;
    visibility: hidden;
  
    transition: all 0.4s ease;
    z-index: 10;
    background-color: rgb(171, 255, 3);
    /* border: 4px solid black; */
    border-radius: 10px;
    /* background-color: ; */
}
.menu-box ul li:hover>ul{
    padding: 10px 0;
    opacity: 1;
    visibility: visible;
    transition: all 0.4s ease;
}
.menu-box ul li ul li {
    display: block;
    margin: 0;
}
.menu-box ul li ul li a{
    display: block;
    padding: 8px 15px 8px 8px;
    position: relative;
    right: 0;
    transition: all 0.4s ease;
}
.menu-box ul li ul li a:hover{
    right: 8px;
    transition: all 0.4s ease;
}
.menu-box ul li ul li a::after{
    content: "";
    position: absolute;
    top: 20px;
    right: 3px;
    width: 0;
    height: 1px;
    background-color: rgb(9, 9, 9);
    transition: all 0.4s ease;
}
.menu-box ul li ul li a:hover::after{
    width: 5px;
    transition: all 0.4s ease;
}
.menu-box ul li ul li ul{
    right: 100%;
    top: -11px;
}
.menu-box ul li span.main-menu-span{
    position: absolute;
    left: -15px;
    top: 33px;
}
.menu-box ul li ul li span.main-menu-span{
    position: absolute;
    left: 10px;
    top: 12px;
}
.responsive-menu-box ul li a{
    font-size: 20px;
    padding: 30px;
}
.responsive-menu-body ul li {
    position: relative;
}
.responsive-menu-body ul li a{
    display: block;
    padding: 9px 0;
    border-bottom: 1px solid #eee;
    color: rgb(6, 6, 6);
}
.responsive-menu-body ul li span.responsive-menu-span{
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    color: black;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-right: 1px solid #eee;
    cursor: pointer;
    z-index: 5;
}
.responsive-menu-body ul li ul{
    display: none;
}
body{
    /* text-decoration: none; */
}
.main-menu a{
    color: black;
}
.main-menu{
    background-color: rgb(171, 255, 3);
    display: inline-block;
    /* padding:; */
}
.trans:hover{
    transform: translateY(-80px);
    background-color:rgba(0, 0, 0, 0.982) ;
    color: rgb(171, 255, 3);;
    /* padding: 50px; */

    transition: all 0.6s ease-in-out;
}
.bg-sabz{
    background-color:rgb(171, 255, 3) ;
}
.pointr-custom{
    cursor: pointer;
}



.header-section .menu-box ul {
    margin: 0;
    padding: 0;
}

.header-section .menu-box ul li {
    display: inline-block;
    margin: 0 0 0 28px;
    position: relative;
}

.header-section .menu-box>ul>li>ul+span.main-menu-span {
    transform: rotate(-90deg);
}

.header-section .menu-box ul li a {
    display: inline-block;
    padding: 31px 0;
    color: var(--sm-dark);
}

.header-section .menu-box ul li ul {
    position: absolute;
    width: 220px;
    right: 0;
    top: 82px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease;
    z-index: 10;
    background-color: #fff;
}

.header-section .menu-box ul li:hover>ul {
    padding: 10px 0;
    opacity: 1;
    visibility: visible;
    transition: all 0.4s ease;
}

.header-section .menu-box ul li ul li {
    display: block;
    margin: 0;
}

.header-section .menu-box ul li ul li a {
    display: block;
    padding: 8px 15px 8px 8px;
    position: relative;
    right: 0;
    transition: all 0.4s ease;
}

.header-section .menu-box ul li ul li a:hover {
    right: 8px;
    transition: all 0.4s ease;
}

.header-section .menu-box ul li ul li a::after {
    content: "";
    position: absolute;
    top: 20px;
    right: 3px;
    width: 0;
    height: 1px;
    background-color: var(--sm-dark);
    transition: all 0.4s ease;
}

.header-section .menu-box ul li ul li a:hover::after {
    width: 5px;
    transition: all 0.4s ease;
}

.header-section .menu-box ul li ul li ul {
    right: 100%;
    top: -11px;
}

.header-section .menu-box ul li span.main-menu-span {
    position: absolute;
    left: -15px;
    top: 33px;
}

.header-section .menu-box ul li ul li span.main-menu-span {
    position: absolute;
    left: 10px;
    top: 12px;
}

.header-section .responsive-menu-box ul li a {
    font-size: 20px;
    padding: 30px;
}

.responsive-menu-body ul li {
    position: relative;
}

.responsive-menu-body ul li a {
    display: block;
    padding: 9px 0;
    border-bottom: 1px solid #eee;
    color: var(--sm-dark);
}

.responsive-menu-body ul li span.responsive-menu-span {
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    color: #000;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-right: 1px solid #eee;
    cursor: pointer;
    z-index: 5;
}

.responsive-menu-body ul li ul {
    display: none;
}
.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
    z-index: 9999;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  .topnav{
    background-color: ;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the active link (or home/logo) */
  .active {
    background-color: #04AA6D;
    color: white;
  }
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
.topnav{
    background-color: rgb(171, 255, 3);
    color: black;
}

.click-p{
    cursor: pointer;
}





